 
 /* Apply Text Align */
 .col1
 {
    text-align: left;
 }
/* Apply  padding-left */
/* Apply  padding-left */
 .col2
 {
    padding-left: 15px;
 }
 /* Apply width */
 /* Apply margin-left */
 /* Apply margin-left */

  .main2{
     display: flex;
     flex-direction: column;
  }

 @media screen and (max-width:768px)
 {
     
 
     .main1{
         width: 100%;
         margin-left: 0px;
     }
 }


/* Apply Text Align */
 .main2
 {
    border: 1px solid black; 
    padding: 30px; 
    background-color: rgb(197, 197, 174);
 }
/* Apply Text Align */
/* Apply Text Align */
/* Apply Text Align */
 img
 {
    box-shadow: 0.5px 5px;
 }
  