/* Apply Background */
/* Apply padding */
/* Apply Background */
/* Apply border */
.sibling-element {
	background: #f2f2f2;
	padding: 10px;
  border: 1px solid #81adc8;
} 
/* Apply position */
/* Apply bottom */
.main-element {
    position: fixed;
    bottom: 10px;
    left: 10px;
    background-color: yellow;
    padding: 10px;
}
/* Apply position */
/* Apply padding */
.parent-element {
    position: relative;
    height: 100px;
    padding: 10px;
    background-color: #81adc8;
}
/* Apply height */
/* Apply Background */
html {
    height: 800px;
}